body {
    background: url("Fathers.jpeg");
}

#song{
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 170px;
}

#USA {
  width: min(1200px, 92vw);
  margin: 40px auto;
  padding: 20px;
  background: rgb(157, 12, 12);
  border-radius: 18px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
  font-size: 40px;
}

#Capital {
  width: min(1200px, 92vw);
  margin: 40px auto;
  padding: 13px;
  background: rgb(255, 255, 255);
  border-radius: 18px;
  align-items: flex;
}

#ball {
  width: min(1200px, 92vw);
  margin: 40px auto;
  padding: 13px;
  background: rgb(255, 255, 255);
  border-radius: 18px;
  align-items: flex;
}

#commies {
  width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: rgb(13, 8, 66);
  border-radius: 18px;
}

#messi {
  width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: rgb(13, 8, 66);
  border-radius: 18px;
}

#pot {
  width: min(1200px,92vw);
  margin: 40px auto;
  padding: 13px;
  background: rgb(255, 255, 255);
  border-radius: 18px;
  align-items: flex;
}

#mix {
  width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: rgb(13, 8, 66);
  border-radius: 18px;
}

#picmon {
  width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: rgb(13, 8, 66);
  border-radius: 18px;
}

#song-container {
  width: min(1200px, 92vw);
  margin: 40px auto;
  padding: 50px;
  background: white;
  border-radius: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#song {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers button + text */
  gap: 10px;
  display: block;
  margin: 0 auto;
}

#playBtn {
  width: 80px;
  height: 80px;
  object-fit: contain;
  display: block;
}

#img1 {
  position: absolute;
  top: 100px;
  left: 70px;
  width: 800px;
  height: 500px;
  touch-action: none;
  cursor: grab;
  user-select: none;
  overflow: hidden;
}

#waveform {
  flex: 1;
  height: 100px;
  min-width: 0;
}

#song {
    display: flex;
    align-items: center;
    margin-top: 20px;
}